# F1 Insights Pro Python Datasets Script

Authors: 
    
    María Isabel Rivera Portillo (23200796)
    Diego Aymerich Pañero (23205295)
    Chetan Damodar Nandanwar (2320097)
    Alfred  John (23201995)

Welcome to F1 Insights Pro Python Script. 
Through this python code, you will be able to clean and process the necessary data to execute the F1 Insights Pro data-driven tool.

# 1. Reading CSV Files

In [1]:
# In case the user has not used the following library, please remove the # and execute the code. 

#!pip install pandas

In [114]:
#Library Import
import pandas as pd

In [3]:
# Folder path
folder_path_2022 = '2022_F1_Data'
folder_path_2023 = '2023_F1_Data'

# File paths 2022
calendar_path_2022 = f'{folder_path_2022}/Formula1_2022season_calendar.csv'
drivers_path_2022 = f'{folder_path_2022}/Formula1_2022season_drivers.csv'
qualifying_results_path_2022 = f'{folder_path_2022}/Formula1_2022season_qualifyingResults.csv'
race_results_path_2022 = f'{folder_path_2022}/Formula1_2022season_raceResults.csv'
teams_path_2022 = f'{folder_path_2022}/Formula1_2022season_teams.csv'

# File paths 2023
calendar_path_2023 = f'{folder_path_2023}/Formula1_2023season_calendar.csv'
drivers_path_2023 = f'{folder_path_2023}/Formula1_2023season_drivers.csv'
qualifying_results_path_2023 = f'{folder_path_2023}/Formula1_2023season_qualifyingResults.csv'
race_results_path_2023 = f'{folder_path_2023}/Formula1_2023season_raceResults.csv'
teams_path_2023 = f'{folder_path_2023}/Formula1_2023season_teams.csv'

In [4]:
# Reading CSV files
calendar2022_df = pd.read_csv(calendar_path_2022)
drivers2022_df = pd.read_csv(drivers_path_2022)
qualifying_results2022_df = pd.read_csv(qualifying_results_path_2022)
race_results2022_df = pd.read_csv(race_results_path_2022)
teams2022_df = pd.read_csv(teams_path_2022)
F1_Insights_Pro_ranking_2022_df = pd.read_csv('F1_Insights_Pro_Ranking_2022.csv')

calendar2023_df = pd.read_csv(calendar_path_2023)
drivers2023_df = pd.read_csv(drivers_path_2023)
qualifying_results2023_df = pd.read_csv(qualifying_results_path_2023)
race_results2023_df = pd.read_csv(race_results_path_2023)
teams2023_df = pd.read_csv(teams_path_2023)
F1_Insights_Pro_ranking_2023_df = pd.read_csv('F1_Insights_Pro_Ranking_2023.csv')

# ------------------------------------------------------------------------------------

# 2. 2022 Files Modifications

2.1. Exploratory Data Analysis 2022

In [5]:
calendar2022_df.columns

Index(['Round', 'Race Date', 'GP Name', 'Country', 'City', 'Circuit Name',
       'First GP', 'Number of Laps', 'Circuit Length(km)', 'Race Distance(km)',
       'Lap Record', 'Record Owner', 'Record Year', 'Turns', 'DRS Zones'],
      dtype='object')

In [6]:
drivers2022_df.columns

Index(['Driver', 'Abbreviation', 'No', 'Team', 'Country', 'Podiums', 'Points',
       'Grands Prix Entered', 'World Championships', 'Highest Race Finish',
       'Highest Grid Position', 'Date of Birth', 'Place of Birth'],
      dtype='object')

In [7]:
qualifying_results2022_df.columns

Index(['Track', 'Position', 'No', 'Driver', 'Team', 'Q1', 'Q2', 'Q3', 'Laps'], dtype='object')

In [8]:
teams2022_df.columns

Index(['Team', 'Full Team Name', 'Base', 'Team Chief', 'Technical Chief',
       'Chassis', 'Power Unit', 'First Team Entry', 'World Championships',
       'Highest Race Finish', 'Pole Positions', 'Fastest Laps'],
      dtype='object')

In [9]:
race_results2022_df.columns

Index(['Track', 'Position', 'No', 'Driver', 'Team', 'Starting Grid', 'Laps',
       'Time/Retired', 'Points', '+1 Pt', 'Fastest Lap'],
      dtype='object')

# ------------------------------------------------------------------------------------

2.2 Race Results Modifications

In [10]:
# Renaming a column
race_results2022_df.rename(columns={'Starting Grid': 'Race Starting Grid','Laps':'Race Laps', 'Points':'Race Points', 'Position':'Race Position', 'Fastest Lap': 'Race Fastest Lap', 'Time/Retired':'Race Time/Retired'}, inplace=True)

# Delete the '+1 Pt' column
race_results2022_df.drop(columns=['+1 Pt'], inplace=True)
race_results2022_df.columns

Index(['Track', 'Race Position', 'No', 'Driver', 'Team', 'Race Starting Grid',
       'Race Laps', 'Race Time/Retired', 'Race Points', 'Race Fastest Lap'],
      dtype='object')

In [11]:
race_results2022_df['Track'].unique()

array(['Bahrain', 'Saudi Arabia', 'Australia', 'Emilia Romagna', 'Miami',
       'Spain', 'Monaco', 'Azerbaijan', 'Canada', 'Great Britain',
       'Austria', 'France', 'Hungary', 'Belgium', 'Netherlands', 'Italy',
       'Singapore', 'Japan', 'United States', 'Mexico', 'Brazil',
       'Abu Dhabi'], dtype=object)

In [12]:
calendar2022_df['Circuit Name'].unique()

array(['Bahrain International Circuit', 'Jeddah Corniche Circuit',
       'Albert Park Circuit', 'Autodromo Enzo e Dino Ferrari',
       'Miami International Autodrome', 'Circuit de Barcelona-Catalunya',
       'Circuit de Monaco', 'Baku City Circuit',
       'Circuit Gilles-Villeneuve', 'Silverstone Circuit',
       'Red Bull Ring', 'Circuit Paul Ricard', 'Hungaroring',
       'Circuit de Spa-Francorchamps', 'Circuit Zandvoort',
       'Autodromo Nazionale Monza', 'Marina Bay Street Circuit',
       'Suzuka International Racing Course', 'Circuit of the Americas',
       'Autodromo Hermanos Rodriguez', 'Autodromo Jose Carlos Pace',
       'Yas Marina Circuit'], dtype=object)

In [13]:
# Mapping dictionary to align track names to full circuit names
track_name_mapping = {
    'Bahrain': 'Bahrain International Circuit',
    'Saudi Arabia': 'Jeddah Corniche Circuit',
    'Australia': 'Albert Park Circuit',
    'Emilia Romagna': 'Autodromo Enzo e Dino Ferrari',
    'Miami': 'Miami International Autodrome',
    'Spain': 'Circuit de Barcelona-Catalunya',
    'Monaco': 'Circuit de Monaco',
    'Azerbaijan': 'Baku City Circuit',
    'Canada': 'Circuit Gilles-Villeneuve',
    'Great Britain': 'Silverstone Circuit',
    'Austria': 'Red Bull Ring',
    'France': 'Circuit Paul Ricard',
    'Hungary': 'Hungaroring',
    'Belgium': 'Circuit de Spa-Francorchamps',
    'Netherlands': 'Circuit Zandvoort',
    'Italy': 'Autodromo Nazionale Monza',
    'Singapore': 'Marina Bay Street Circuit',
    'Japan': 'Suzuka International Racing Course',
    'United States': 'Circuit of the Americas',
    'Mexico': 'Autodromo Hermanos Rodriguez',
    'Brazil': 'Autodromo Jose Carlos Pace',
    'Abu Dhabi': 'Yas Marina Circuit'
}

# Applying the mapping to ensure consistency in track names
race_results2022_df['Track'] = race_results2022_df['Track'].replace(track_name_mapping)
race_results2022_df['Track'].unique()

array(['Bahrain International Circuit', 'Jeddah Corniche Circuit',
       'Albert Park Circuit', 'Autodromo Enzo e Dino Ferrari',
       'Miami International Autodrome', 'Circuit de Barcelona-Catalunya',
       'Circuit de Monaco', 'Baku City Circuit',
       'Circuit Gilles-Villeneuve', 'Silverstone Circuit',
       'Red Bull Ring', 'Circuit Paul Ricard', 'Hungaroring',
       'Circuit de Spa-Francorchamps', 'Circuit Zandvoort',
       'Autodromo Nazionale Monza', 'Marina Bay Street Circuit',
       'Suzuka International Racing Course', 'Circuit of the Americas',
       'Autodromo Hermanos Rodriguez', 'Autodromo Jose Carlos Pace',
       'Yas Marina Circuit'], dtype=object)

In [14]:
# Create country and city mappings (example mappings)
track_to_country = {
    'Bahrain International Circuit': 'Bahrain',
    'Jeddah Corniche Circuit': 'Saudi Arabia',
    'Albert Park Circuit': 'Australia',
    'Autodromo Enzo e Dino Ferrari': 'Italy',
    'Miami International Autodrome': 'United States',
    'Circuit de Barcelona-Catalunya': 'Spain',
    'Circuit de Monaco': 'Monaco',
    'Baku City Circuit': 'Azerbaijan',
    'Circuit Gilles-Villeneuve': 'Canada',
    'Silverstone Circuit': 'United Kingdom',
    'Red Bull Ring': 'Austria',
    'Circuit Paul Ricard': 'France',
    'Hungaroring': 'Hungary',
    'Circuit de Spa-Francorchamps': 'Belgium',
    'Circuit Zandvoort': 'Netherlands',
    'Autodromo Nazionale Monza': 'Italy',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Japan',
    'Circuit of the Americas': 'United States',
    'Autodromo Hermanos Rodriguez': 'Mexico',
    'Autodromo Jose Carlos Pace': 'Brazil',
    'Yas Marina Circuit': 'United Arab Emirates'
}

track_to_city = {
    'Bahrain International Circuit': 'Sakhir',
    'Jeddah Corniche Circuit': 'Jeddah',
    'Albert Park Circuit': 'Melbourne',
    'Autodromo Enzo e Dino Ferrari': 'Imola',
    'Miami International Autodrome': 'Miami',
    'Circuit de Barcelona-Catalunya': 'Barcelona',
    'Circuit de Monaco': 'Monte Carlo',
    'Baku City Circuit': 'Baku',
    'Circuit Gilles-Villeneuve': 'Montreal',
    'Silverstone Circuit': 'Silverstone',
    'Red Bull Ring': 'Spielberg',
    'Circuit Paul Ricard': 'Le Castellet',
    'Hungaroring': 'Mogyoród',
    'Circuit de Spa-Francorchamps': 'Spa',
    'Circuit Zandvoort': 'Zandvoort',
    'Autodromo Nazionale Monza': 'Monza',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Suzuka',
    'Circuit of the Americas': 'Austin',
    'Autodromo Hermanos Rodriguez': 'Mexico City',
    'Autodromo Jose Carlos Pace': 'São Paulo',
    'Yas Marina Circuit': 'Abu Dhabi'
}

# Adding new columns for country and city
race_results2022_df['Country'] = race_results2022_df['Track'].map(track_to_country)
race_results2022_df['City'] = race_results2022_df['Track'].map(track_to_city)

# Display the updated DataFrame to verify the changes
race_results2022_df.rename(columns={'Track': 'Circuit Name'}, inplace=True)

In [15]:
# Add a new column 'Year' with the value 2022 for all rows
race_results2022_df['Year'] = 2022

# Reorder the columns
race_results2022_df = race_results2022_df[['Year', 'Country', 'City', 'Circuit Name',
                                           'Race Position', 'No', 'Driver', 'Team',
                                           'Race Starting Grid', 'Race Laps', 'Race Time/Retired',
                                           'Race Points', 'Race Fastest Lap']]
race_results2022_df.head(1)

,Year,Country,City,Circuit Name,Race Position,No,Driver,Team,Race Starting Grid,Race Laps,Race Time/Retired,Race Points,Race Fastest Lap
0,2022,Bahrain,Sakhir,Bahrain International Circuit,1,16,Charles Leclerc,Ferrari,1,57,1:37:33.584,26,1:34.570

In [16]:
# Calculate the key column based on Year, City, and Driver
race_results2022_df['Circuit_Driver'] = race_results2022_df['Year'].astype(str) + '_' + race_results2022_df['City'] + '_' + race_results2022_df['Driver']
race_results2022_df.head(1)

,Year,Country,City,Circuit Name,Race Position,No,Driver,Team,Race Starting Grid,Race Laps,Race Time/Retired,Race Points,Race Fastest Lap,Circuit_Driver
0,2022,Bahrain,Sakhir,Bahrain International Circuit,1,16,Charles Leclerc,Ferrari,1,57,1:37:33.584,26,1:34.570,2022_Sakhir_Charles Leclerc

# ------------------------------------------------------------------------------------

2.3. Qualifying Results Modifications

In [17]:
qualifying_results2022_df.columns

Index(['Track', 'Position', 'No', 'Driver', 'Team', 'Q1', 'Q2', 'Q3', 'Laps'], dtype='object')

In [18]:
# Renaming a column
qualifying_results2022_df.rename(columns={'Laps':'Qualifying Laps', 'Position': 'Qualifying Position'}, inplace=True)

qualifying_results2022_df['Track'].unique()

array(['Bahrain', 'Saudi Arabia', 'Australia', 'Emilia Romagna', 'Miami',
       'Spain', 'Monaco', 'Azerbaijan', 'Canada', 'Great Britain',
       'Austria', 'France', 'Hungary', 'Belgium', 'Netherlands', 'Italy',
       'Singapore', 'Japan', 'United States', 'Mexico', 'Brazil',
       'Abu Dhabi'], dtype=object)

In [19]:
# Mapping dictionary to align track names to full circuit names
track_qualy_mapping = {
    'Bahrain': 'Bahrain International Circuit',
    'Saudi Arabia': 'Jeddah Corniche Circuit',
    'Australia': 'Albert Park Circuit',
    'Emilia Romagna': 'Autodromo Enzo e Dino Ferrari',
    'Miami': 'Miami International Autodrome',
    'Spain': 'Circuit de Barcelona-Catalunya',
    'Monaco': 'Circuit de Monaco',
    'Azerbaijan': 'Baku City Circuit',
    'Canada': 'Circuit Gilles-Villeneuve',
    'Great Britain': 'Silverstone Circuit',
    'Austria': 'Red Bull Ring',
    'France': 'Circuit Paul Ricard',
    'Hungary': 'Hungaroring',
    'Belgium': 'Circuit de Spa-Francorchamps',
    'Netherlands': 'Circuit Zandvoort',
    'Italy': 'Autodromo Nazionale Monza',
    'Singapore': 'Marina Bay Street Circuit',
    'Japan': 'Suzuka International Racing Course',
    'United States': 'Circuit of the Americas',
    'Mexico': 'Autodromo Hermanos Rodriguez',
    'Brazil': 'Autodromo Jose Carlos Pace',
    'Abu Dhabi': 'Yas Marina Circuit'
}

# Applying the mapping to ensure consistency in track names
qualifying_results2022_df['Track'] = qualifying_results2022_df['Track'].replace(track_qualy_mapping)

In [20]:
# Create country and city mappings (example mappings)
track_qualy_to_country = {
    'Bahrain International Circuit': 'Bahrain',
    'Jeddah Corniche Circuit': 'Saudi Arabia',
    'Albert Park Circuit': 'Australia',
    'Autodromo Enzo e Dino Ferrari': 'Italy',
    'Miami International Autodrome': 'United States',
    'Circuit de Barcelona-Catalunya': 'Spain',
    'Circuit de Monaco': 'Monaco',
    'Baku City Circuit': 'Azerbaijan',
    'Circuit Gilles-Villeneuve': 'Canada',
    'Silverstone Circuit': 'United Kingdom',
    'Red Bull Ring': 'Austria',
    'Circuit Paul Ricard': 'France',
    'Hungaroring': 'Hungary',
    'Circuit de Spa-Francorchamps': 'Belgium',
    'Circuit Zandvoort': 'Netherlands',
    'Autodromo Nazionale Monza': 'Italy',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Japan',
    'Circuit of the Americas': 'United States',
    'Autodromo Hermanos Rodriguez': 'Mexico',
    'Autodromo Jose Carlos Pace': 'Brazil',
    'Yas Marina Circuit': 'United Arab Emirates'
}

track_qualy_to_city = {
    'Bahrain International Circuit': 'Sakhir',
    'Jeddah Corniche Circuit': 'Jeddah',
    'Albert Park Circuit': 'Melbourne',
    'Autodromo Enzo e Dino Ferrari': 'Imola',
    'Miami International Autodrome': 'Miami',
    'Circuit de Barcelona-Catalunya': 'Barcelona',
    'Circuit de Monaco': 'Monte Carlo',
    'Baku City Circuit': 'Baku',
    'Circuit Gilles-Villeneuve': 'Montreal',
    'Silverstone Circuit': 'Silverstone',
    'Red Bull Ring': 'Spielberg',
    'Circuit Paul Ricard': 'Le Castellet',
    'Hungaroring': 'Mogyoród',
    'Circuit de Spa-Francorchamps': 'Spa',
    'Circuit Zandvoort': 'Zandvoort',
    'Autodromo Nazionale Monza': 'Monza',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Suzuka',
    'Circuit of the Americas': 'Austin',
    'Autodromo Hermanos Rodriguez': 'Mexico City',
    'Autodromo Jose Carlos Pace': 'São Paulo',
    'Yas Marina Circuit': 'Abu Dhabi'
}

# Adding new columns for country and city
qualifying_results2022_df['Country'] = qualifying_results2022_df['Track'].map(track_qualy_to_country)
qualifying_results2022_df['City'] = qualifying_results2022_df['Track'].map(track_qualy_to_city)

# Display the updated DataFrame to verify the changes
qualifying_results2022_df.rename(columns={'Track': 'Circuit Name'}, inplace=True)

In [21]:
# Add a new column 'Year' with the value 2022 for all rows
qualifying_results2022_df['Year'] = 2022

# Calculate the key column based on Year, City, and Driver
qualifying_results2022_df['Circuit_Driver'] = qualifying_results2022_df['Year'].astype(str) + '_' + qualifying_results2022_df['City'] + '_' + qualifying_results2022_df['Driver']
qualifying_results2022_df.head(1)

,Circuit Name,Qualifying Position,No,Driver,Team,Q1,Q2,Q3,Qualifying Laps,Country,City,Year,Circuit_Driver
0,Bahrain International Circuit,1,16,Charles Leclerc,Ferrari,1:31.471,1:30.932,1:30.558,15,Bahrain,Sakhir,2022,2022_Sakhir_Charles Leclerc

# ------------------------------------------------------------------------------------

2.4. Drivers File Modification

In [22]:
drivers2022_df.head(1)

,Driver,Abbreviation,No,Team,Country,Podiums,Points,Grands Prix Entered,World Championships,Highest Race Finish,Highest Grid Position,Date of Birth,Place of Birth
0,Max Verstappen,VER,1,Red Bull Racing,Netherlands,77,2011.5,163,2,1(x35),1,30/09/1997,"Hasselt,Belgium"

In [23]:
# Splitting the 'Highest Race Finish' column
drivers2022_df[['Highest Race Finish', 'Nº of Highest Race Finish']] = drivers2022_df['Highest Race Finish'].str.extract(r'(\d+)\(x(\d+)\)')
# Convert the new columns to integer type
drivers2022_df['Highest Race Finish'] = drivers2022_df['Highest Race Finish'].astype(int)
drivers2022_df['Nº of Highest Race Finish'] = drivers2022_df['Nº of Highest Race Finish'].astype(int)

drivers2022_df.head(1)

,Driver,Abbreviation,No,Team,Country,Podiums,Points,Grands Prix Entered,World Championships,Highest Race Finish,Highest Grid Position,Date of Birth,Place of Birth,Nº of Highest Race Finish
0,Max Verstappen,VER,1,Red Bull Racing,Netherlands,77,2011.5,163,2,1,1,30/09/1997,"Hasselt,Belgium",35

# ------------------------------------------------------------------------------------

5. Teams File Modification

In [24]:
teams2022_df.head(1)

,Team,Full Team Name,Base,Team Chief,Technical Chief,Chassis,Power Unit,First Team Entry,World Championships,Highest Race Finish,Pole Positions,Fastest Laps
0,Red Bull Racing,Oracle Red Bull Racing,"Milton Keynes, United Kingdom",Christian Horner,Pierre Waché,RB18,Red Bull Powertrains,1997,5,1(x92),81,84

In [25]:
teams2022_df.columns

Index(['Team', 'Full Team Name', 'Base', 'Team Chief', 'Technical Chief',
       'Chassis', 'Power Unit', 'First Team Entry', 'World Championships',
       'Highest Race Finish', 'Pole Positions', 'Fastest Laps'],
      dtype='object')

In [26]:
teams2022_df['Team'].unique()

array(['Red Bull Racing', 'Ferrari', 'Mercedes', 'Alpine', 'McLaren',
       'Alfa Romeo', 'Aston Martin', 'Haas', 'AlphaTauri', 'Williams'],
      dtype=object)

In [27]:
# Example dictionary mapping original team names to desired names
team_name_mapping = {
    'Red Bull Racing': 'Red Bull Racing RBPT',
    'Ferrari': 'Ferrari',
    'Mercedes': 'Mercedes',
    'Alpine': 'Alpine Renault',
    'McLaren': 'McLaren Mercedes',
    'Alfa Romeo': 'Alfa Romeo Ferrari',
    'Aston Martin': 'Aston Martin Aramco Mercedes',
    'Haas': 'Haas Ferrari',
    'AlphaTauri': 'AlphaTauri RBPT',
    'Williams': 'Williams Mercedes'
}

# Apply the mapping to create a new 'Team Name' column
teams2022_df['Team'] = teams2022_df['Team'].map(team_name_mapping)
teams2022_df.head(1)

,Team,Full Team Name,Base,Team Chief,Technical Chief,Chassis,Power Unit,First Team Entry,World Championships,Highest Race Finish,Pole Positions,Fastest Laps
0,Red Bull Racing RBPT,Oracle Red Bull Racing,"Milton Keynes, United Kingdom",Christian Horner,Pierre Waché,RB18,Red Bull Powertrains,1997,5,1(x92),81,84

In [28]:
# Dropping the specified columns
columns_to_drop = ['Full Team Name', 'Base', 'Team Chief', 'Technical Chief','Chassis','Power Unit']
teams2022_df = teams2022_df.drop(columns=columns_to_drop)

# Splitting the 'Highest Race Finish' column
teams2022_df[['Highest Race Finish', 'Nº of Highest Race Finish']] = teams2022_df['Highest Race Finish'].str.extract(r'(\d+)\(x(\d+)\)')
# Convert the new columns to integer type
teams2022_df['Highest Race Finish'] = teams2022_df['Highest Race Finish'].astype(int)
teams2022_df['Nº of Highest Race Finish'] = teams2022_df['Nº of Highest Race Finish'].astype(int)

teams2022_df.head(1)

,Team,First Team Entry,World Championships,Highest Race Finish,Pole Positions,Fastest Laps,Nº of Highest Race Finish
0,Red Bull Racing RBPT,1997,5,1,81,84,92

In [29]:
# Dictionary mapping old names to new names
new_column_names = {
    'First Team Entry': 'Team First Entry',
    'World Championships': 'Team Nº World Championships',
    'Highest Race Finish': 'Team Highest Race Finish',
    'Pole Positions': 'Team Nº Pole Positions',
    'Fastest Laps': 'Team Nº Fastest Laps',
    'Nº of Highest Race Finish': 'Team Nº of Highest Race Finish', 'Team':'Team Name'
}

# Rename the columns using rename() method
teams2022_df = teams2022_df.rename(columns=new_column_names)
teams2022_df.head(1)

,Team Name,Team First Entry,Team Nº World Championships,Team Highest Race Finish,Team Nº Pole Positions,Team Nº Fastest Laps,Team Nº of Highest Race Finish
0,Red Bull Racing RBPT,1997,5,1,81,84,92

In [30]:
teams2022_df.shape

(10, 7)

5. F1 Insights Pro Ranking Modifications

In [31]:
F1_Insights_Pro_ranking_2022_df.columns

Index(['Driver', 'Team', 'Track', 'TrackTurns', 'TrackDRSZones',
       'ElevationChange', 'AvgTrackTemp', 'AvgAirTemp', 'AvgHumidity',
       'AvgWindSpeed', 'RainProbability', 'StartPosition', 'FinishPosition',
       'PointsScored', 'FastestLapFlag', 'OverallFastestLap', 'FastestLapTime',
       'FastestLapGap', 'FastestLapSpeed', 'Overtakes', 'TotalOvertakes',
       'Penalties', 'TotalPenalties', 'TrackComplexity', 'WeatherConditions',
       'PenaltyScore', 'DriverPerformanceScore', 'Score', 'Rank'],
      dtype='object')

In [32]:
F1_Insights_Pro_ranking_2022_df.shape

(440, 29)

In [33]:
F1_Insights_Pro_ranking_2022_df['Track'].unique()

array(['Bahrain', 'Saudi Arabia', 'Australia', 'Emilia Romagna', 'Miami',
       'Spain', 'Monaco', 'Azerbaijan', 'Canada', 'Great Britain',
       'Austria', 'France', 'Hungary', 'Belgium', 'Netherlands', 'Italy',
       'Singapore', 'Japan', 'United States', 'Mexico', 'Brazil',
       'Abu Dhabi'], dtype=object)

In [34]:
track_qualy_mapping_F1_Insights_Pro_ranking = {
    'Bahrain': 'Bahrain International Circuit',
    'Saudi Arabia': 'Jeddah Corniche Circuit',
    'Australia': 'Albert Park Circuit',
    'Emilia Romagna': 'Autodromo Enzo e Dino Ferrari',
    'Miami': 'Miami International Autodrome',
    'Spain': 'Circuit de Barcelona-Catalunya',
    'Monaco': 'Circuit de Monaco',
    'Azerbaijan': 'Baku City Circuit',
    'Canada': 'Circuit Gilles-Villeneuve',
    'Great Britain': 'Silverstone Circuit',
    'Austria': 'Red Bull Ring',
    'France': 'Circuit Paul Ricard',
    'Hungary': 'Hungaroring',
    'Belgium': 'Circuit de Spa-Francorchamps',
    'Netherlands': 'Circuit Zandvoort',
    'Italy': 'Autodromo Nazionale Monza',
    'Singapore': 'Marina Bay Street Circuit',
    'Japan': 'Suzuka International Racing Course',
    'United States': 'Circuit of the Americas',
    'Mexico': 'Autodromo Hermanos Rodriguez',
    'Brazil': 'Autodromo Jose Carlos Pace',
    'Abu Dhabi': 'Yas Marina Circuit'
}


# Applying the mapping to ensure consistency in track names
F1_Insights_Pro_ranking_2022_df['Track'] = F1_Insights_Pro_ranking_2022_df['Track'].replace(track_qualy_mapping_F1_Insights_Pro_ranking)
F1_Insights_Pro_ranking_2022_df['Track'].unique()

array(['Bahrain International Circuit', 'Jeddah Corniche Circuit',
       'Albert Park Circuit', 'Autodromo Enzo e Dino Ferrari',
       'Miami International Autodrome', 'Circuit de Barcelona-Catalunya',
       'Circuit de Monaco', 'Baku City Circuit',
       'Circuit Gilles-Villeneuve', 'Silverstone Circuit',
       'Red Bull Ring', 'Circuit Paul Ricard', 'Hungaroring',
       'Circuit de Spa-Francorchamps', 'Circuit Zandvoort',
       'Autodromo Nazionale Monza', 'Marina Bay Street Circuit',
       'Suzuka International Racing Course', 'Circuit of the Americas',
       'Autodromo Hermanos Rodriguez', 'Autodromo Jose Carlos Pace',
       'Yas Marina Circuit'], dtype=object)

In [35]:
track_to_country = {
    'Bahrain International Circuit': 'Bahrain',
    'Jeddah Corniche Circuit': 'Saudi Arabia',
    'Albert Park Circuit': 'Australia',
    'Autodromo Enzo e Dino Ferrari': 'Italy',
    'Miami International Autodrome': 'United States',
    'Circuit de Barcelona-Catalunya': 'Spain',
    'Circuit de Monaco': 'Monaco',
    'Baku City Circuit': 'Azerbaijan',
    'Circuit Gilles-Villeneuve': 'Canada',
    'Silverstone Circuit': 'United Kingdom',
    'Red Bull Ring': 'Austria',
    'Circuit Paul Ricard': 'France',
    'Hungaroring': 'Hungary',
    'Circuit de Spa-Francorchamps': 'Belgium',
    'Circuit Zandvoort': 'Netherlands',
    'Autodromo Nazionale Monza': 'Italy',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Japan',
    'Circuit of the Americas': 'United States',
    'Autodromo Hermanos Rodriguez': 'Mexico',
    'Autodromo Jose Carlos Pace': 'Brazil',
    'Yas Marina Circuit': 'United Arab Emirates'
}

track_to_city = {
    'Bahrain International Circuit': 'Sakhir',
    'Jeddah Corniche Circuit': 'Jeddah',
    'Albert Park Circuit': 'Melbourne',
    'Autodromo Enzo e Dino Ferrari': 'Imola',
    'Miami International Autodrome': 'Miami',
    'Circuit de Barcelona-Catalunya': 'Barcelona',
    'Circuit de Monaco': 'Monte Carlo',
    'Baku City Circuit': 'Baku',
    'Circuit Gilles-Villeneuve': 'Montreal',
    'Silverstone Circuit': 'Silverstone',
    'Red Bull Ring': 'Spielberg',
    'Circuit Paul Ricard': 'Le Castellet',
    'Hungaroring': 'Mogyoród',
    'Circuit de Spa-Francorchamps': 'Stavelot',
    'Circuit Zandvoort': 'Zandvoort',
    'Autodromo Nazionale Monza': 'Monza',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Suzuka',
    'Circuit of the Americas': 'Austin',
    'Autodromo Hermanos Rodriguez': 'Mexico City',
    'Autodromo Jose Carlos Pace': 'São Paulo',
    'Yas Marina Circuit': 'Abu Dhabi'
}

# Adding new columns for country and city
F1_Insights_Pro_ranking_2022_df['Country'] = F1_Insights_Pro_ranking_2022_df['Track'].map(track_to_country)
F1_Insights_Pro_ranking_2022_df['City'] = F1_Insights_Pro_ranking_2022_df['Track'].map(track_to_city)

# Display the updated DataFrame to verify the changes
F1_Insights_Pro_ranking_2022_df.rename(columns={'Track': 'Circuit Name'}, inplace=True)

In [36]:
# Add a new column 'Year' with the value 2022 for all rows
F1_Insights_Pro_ranking_2022_df['Year'] = 2022

# Calculate the key column based on Year, City, and Driver
F1_Insights_Pro_ranking_2022_df['Circuit_Driver'] = F1_Insights_Pro_ranking_2022_df['Year'].astype(str) + '_' + F1_Insights_Pro_ranking_2022_df['City'] + '_' + F1_Insights_Pro_ranking_2022_df['Driver']
F1_Insights_Pro_ranking_2022_df.head(1)

,Driver,Team,Circuit Name,TrackTurns,TrackDRSZones,ElevationChange,AvgTrackTemp,AvgAirTemp,AvgHumidity,AvgWindSpeed,...,TrackComplexity,WeatherConditions,PenaltyScore,DriverPerformanceScore,Score,Rank,Country,City,Year,Circuit_Driver
0,Charles Leclerc,Ferrari,Bahrain International Circuit,15,3,3.5,28.610429,23.617791,29.490798,0.304908,...,0.065,0.03096,0,9.551327,9.647288,1,Bahrain,Sakhir,2022,2022_Sakhir_Charles Leclerc

# ------------------------------------------------------------------------------------

# 3. 2022 Merging Datasets

3.1. Merging Race Results File + Qualifying Results File

In [37]:
# Race Results File 
race_results2022_df.columns

Index(['Year', 'Country', 'City', 'Circuit Name', 'Race Position', 'No',
       'Driver', 'Team', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver'],
      dtype='object')

In [38]:
# Qualifying Results File 
qualifying_results2022_df.columns

Index(['Circuit Name', 'Qualifying Position', 'No', 'Driver', 'Team', 'Q1',
       'Q2', 'Q3', 'Qualifying Laps', 'Country', 'City', 'Year',
       'Circuit_Driver'],
      dtype='object')

In [39]:
# Merging the dataframes on 'Circuit_Driver'
race_and_qualy_2022_df = pd.merge(race_results2022_df, qualifying_results2022_df, on='Circuit_Driver')
race_and_qualy_2022_df.head(1)

,Year_x,Country_x,City_x,Circuit Name_x,Race Position,No_x,Driver_x,Team_x,Race Starting Grid,Race Laps,...,No_y,Driver_y,Team_y,Q1,Q2,Q3,Qualifying Laps,Country_y,City_y,Year_y
0,2022,Bahrain,Sakhir,Bahrain International Circuit,1,16,Charles Leclerc,Ferrari,1,57,...,16,Charles Leclerc,Ferrari,1:31.471,1:30.932,1:30.558,15,Bahrain,Sakhir,2022

In [40]:
race_and_qualy_2022_df.columns

Index(['Year_x', 'Country_x', 'City_x', 'Circuit Name_x', 'Race Position',
       'No_x', 'Driver_x', 'Team_x', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Circuit Name_y', 'Qualifying Position', 'No_y',
       'Driver_y', 'Team_y', 'Q1', 'Q2', 'Q3', 'Qualifying Laps', 'Country_y',
       'City_y', 'Year_y'],
      dtype='object')

In [41]:
# Dropping the specified columns
columns_to_drop = ['Country_y', 'City_y', 'Year_y', 'Team_y', 'Driver_y', 'No_y','Circuit Name_y']
race_and_qualy_2022_df = race_and_qualy_2022_df.drop(columns=columns_to_drop)
race_and_qualy_2022_df.shape

(440, 19)

In [42]:
# Renaming columns to remove '_x' suffix
race_and_qualy_2022_df.rename(columns={
    'Year_x': 'Year',
    'Country_x': 'Country',
    'City_x': 'City',
    'Circuit Name_x': 'Circuit Name',
    'Race Position': 'Race Position',
    'No_x': 'No',
    'Driver_x': 'Driver',
    'Team_x': 'Team'
}, inplace=True)

race_and_qualy_2022_df.columns

Index(['Year', 'Country', 'City', 'Circuit Name', 'Race Position', 'No',
       'Driver', 'Team', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Qualifying Position', 'Q1', 'Q2', 'Q3',
       'Qualifying Laps'],
      dtype='object')

# ------------------------------------------------------------------------------------

3.2. Merging Existing File + Drivers File

In [43]:
# Merging the dataframes on 'Circuit_Driver'
race_and_qualy_and_drivers_2022_df = pd.merge(race_and_qualy_2022_df, drivers2022_df, on='Driver')
race_and_qualy_and_drivers_2022_df.head(1)

,Year,Country_x,City,Circuit Name,Race Position,No_x,Driver,Team_x,Race Starting Grid,Race Laps,...,Country_y,Podiums,Points,Grands Prix Entered,World Championships,Highest Race Finish,Highest Grid Position,Date of Birth,Place of Birth,Nº of Highest Race Finish
0,2022,Bahrain,Sakhir,Bahrain International Circuit,1,16,Charles Leclerc,Ferrari,1,57,...,Monaco,24,868.0,103,0,1,1,16/10/1997,"Monte Carlo, Monaco",5

In [44]:
race_and_qualy_and_drivers_2022_df.shape

(440, 32)

In [45]:
# Dropping the specified columns
columns_to_drop = ['Country_y', 'Team_y', 'No_y']
race_and_qualy_and_drivers_2022_df = race_and_qualy_and_drivers_2022_df.drop(columns=columns_to_drop)
race_and_qualy_and_drivers_2022_df.shape

(440, 29)

In [46]:
# Renaming columns to match Set 1
race_and_qualy_and_drivers_2022_df.rename(columns={
    'Country_x': 'Country',
    'No_x': 'No',
    'Team_x': 'Team'
}, inplace=True)
race_and_qualy_and_drivers_2022_df.columns

Index(['Year', 'Country', 'City', 'Circuit Name', 'Race Position', 'No',
       'Driver', 'Team', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Qualifying Position', 'Q1', 'Q2', 'Q3',
       'Qualifying Laps', 'Abbreviation', 'Podiums', 'Points',
       'Grands Prix Entered', 'World Championships', 'Highest Race Finish',
       'Highest Grid Position', 'Date of Birth', 'Place of Birth',
       'Nº of Highest Race Finish'],
      dtype='object')

# ------------------------------------------------------------------------------------

3.3. Merging Existing File + Team File

In [47]:
teams2022_df.columns

Index(['Team Name', 'Team First Entry', 'Team Nº World Championships',
       'Team Highest Race Finish', 'Team Nº Pole Positions',
       'Team Nº Fastest Laps', 'Team Nº of Highest Race Finish'],
      dtype='object')

In [48]:
race_and_qualy_and_drivers_2022_df.columns

Index(['Year', 'Country', 'City', 'Circuit Name', 'Race Position', 'No',
       'Driver', 'Team', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Qualifying Position', 'Q1', 'Q2', 'Q3',
       'Qualifying Laps', 'Abbreviation', 'Podiums', 'Points',
       'Grands Prix Entered', 'World Championships', 'Highest Race Finish',
       'Highest Grid Position', 'Date of Birth', 'Place of Birth',
       'Nº of Highest Race Finish'],
      dtype='object')

In [49]:
race_and_qualy_and_drivers_and_teams_2022_df = pd.merge(teams2022_df, race_and_qualy_and_drivers_2022_df, left_on='Team Name', right_on='Team')
race_and_qualy_and_drivers_and_teams_2022_df.drop('Team Name', axis=1, inplace=True)
race_and_qualy_and_drivers_and_teams_2022_df.shape

(440, 35)

# ------------------------------------------------------------------------------------

3.4. Merging Existing File + F1 Insights Pro Ranking

In [50]:
# Merging the dataframes on 'Circuit_Driver'
race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df = pd.merge(race_and_qualy_and_drivers_and_teams_2022_df, F1_Insights_Pro_ranking_2022_df, on='Circuit_Driver', how='left')

In [51]:
race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df.shape

(440, 67)

In [52]:
race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df.columns

Index(['Team First Entry', 'Team Nº World Championships',
       'Team Highest Race Finish', 'Team Nº Pole Positions',
       'Team Nº Fastest Laps', 'Team Nº of Highest Race Finish', 'Year_x',
       'Country_x', 'City_x', 'Circuit Name_x', 'Race Position', 'No',
       'Driver_x', 'Team_x', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Qualifying Position', 'Q1', 'Q2', 'Q3',
       'Qualifying Laps', 'Abbreviation', 'Podiums', 'Points',
       'Grands Prix Entered', 'World Championships', 'Highest Race Finish',
       'Highest Grid Position', 'Date of Birth', 'Place of Birth',
       'Nº of Highest Race Finish', 'Driver_y', 'Team_y', 'Circuit Name_y',
       'TrackTurns', 'TrackDRSZones', 'ElevationChange', 'AvgTrackTemp',
       'AvgAirTemp', 'AvgHumidity', 'AvgWindSpeed', 'RainProbability',
       'StartPosition', 'FinishPosition', 'PointsScored', 'FastestLapFlag',
       'OverallFastestLap', 'FastestLapTime', 'FastestLapGap',
       'FastestLapSpeed', 'Overtakes', 'TotalOvertakes', 'Penalties',
       'TotalPenalties', 'TrackComplexity', 'WeatherConditions',
       'PenaltyScore', 'DriverPerformanceScore', 'Score', 'Rank', 'Country_y',
       'City_y', 'Year_y'],
      dtype='object')

In [53]:
# Dropping the specified columns
columns_to_drop = ['Country_y', 'City_y', 'Year_y', 'Team_y', 'Driver_y','Circuit Name_y']
race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df = race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df.drop(columns=columns_to_drop)
race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df.columns

Index(['Team First Entry', 'Team Nº World Championships',
       'Team Highest Race Finish', 'Team Nº Pole Positions',
       'Team Nº Fastest Laps', 'Team Nº of Highest Race Finish', 'Year_x',
       'Country_x', 'City_x', 'Circuit Name_x', 'Race Position', 'No',
       'Driver_x', 'Team_x', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Qualifying Position', 'Q1', 'Q2', 'Q3',
       'Qualifying Laps', 'Abbreviation', 'Podiums', 'Points',
       'Grands Prix Entered', 'World Championships', 'Highest Race Finish',
       'Highest Grid Position', 'Date of Birth', 'Place of Birth',
       'Nº of Highest Race Finish', 'TrackTurns', 'TrackDRSZones',
       'ElevationChange', 'AvgTrackTemp', 'AvgAirTemp', 'AvgHumidity',
       'AvgWindSpeed', 'RainProbability', 'StartPosition', 'FinishPosition',
       'PointsScored', 'FastestLapFlag', 'OverallFastestLap', 'FastestLapTime',
       'FastestLapGap', 'FastestLapSpeed', 'Overtakes', 'TotalOvertakes',
       'Penalties', 'TotalPenalties', 'TrackComplexity', 'WeatherConditions',
       'PenaltyScore', 'DriverPerformanceScore', 'Score', 'Rank'],
      dtype='object')

In [54]:
# Renaming columns to match Set 1
race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df.rename(columns={
    'Country_x': 'Country',
    'Year_x':'Year',
    'City_x':'City',
    'Circuit Name_x':'Circuit Name',
    'Driver_x':'Driver',
    'Team_x': 'Team'
}, inplace=True)
race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df.columns

Index(['Team First Entry', 'Team Nº World Championships',
       'Team Highest Race Finish', 'Team Nº Pole Positions',
       'Team Nº Fastest Laps', 'Team Nº of Highest Race Finish', 'Year',
       'Country', 'City', 'Circuit Name', 'Race Position', 'No', 'Driver',
       'Team', 'Race Starting Grid', 'Race Laps', 'Race Time/Retired',
       'Race Points', 'Race Fastest Lap', 'Circuit_Driver',
       'Qualifying Position', 'Q1', 'Q2', 'Q3', 'Qualifying Laps',
       'Abbreviation', 'Podiums', 'Points', 'Grands Prix Entered',
       'World Championships', 'Highest Race Finish', 'Highest Grid Position',
       'Date of Birth', 'Place of Birth', 'Nº of Highest Race Finish',
       'TrackTurns', 'TrackDRSZones', 'ElevationChange', 'AvgTrackTemp',
       'AvgAirTemp', 'AvgHumidity', 'AvgWindSpeed', 'RainProbability',
       'StartPosition', 'FinishPosition', 'PointsScored', 'FastestLapFlag',
       'OverallFastestLap', 'FastestLapTime', 'FastestLapGap',
       'FastestLapSpeed', 'Overtakes', 'TotalOvertakes', 'Penalties',
       'TotalPenalties', 'TrackComplexity', 'WeatherConditions',
       'PenaltyScore', 'DriverPerformanceScore', 'Score', 'Rank'],
      dtype='object')

In [55]:
race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df.shape

(440, 61)

# ------------------------------------------------------------------------------------

# 4. 2023 Files Modifications

4.1. Exploratory Data Analysis 2023

In [56]:
calendar2023_df.columns

Index(['Round', 'Race Date', 'GP Name', 'Country', 'City', 'Circuit Name',
       'First GP', 'Number of Laps', 'Circuit Length(km)', 'Race Distance(km)',
       'Lap Record', 'Record Owner', 'Record Year', 'Turns', 'DRS Zones'],
      dtype='object')

In [57]:
drivers2023_df.columns

Index(['Driver', 'Abbreviation', 'No', 'Team', 'Country', 'Podiums', 'Points',
       'Grands Prix Entered', 'World Championships', 'Highest Race Finish',
       'Highest Grid Position', 'Date of Birth', 'Place of Birth'],
      dtype='object')

In [58]:
qualifying_results2023_df.columns

Index(['Track', 'Position', 'No', 'Driver', 'Team', 'Q1', 'Q2', 'Q3', 'Laps'], dtype='object')

In [59]:
race_results2023_df.columns

Index(['Track', 'Position', 'No', 'Driver', 'Team', 'Starting Grid', 'Laps',
       'Time/Retired', 'Points', 'Set Fastest Lap', 'Fastest Lap Time'],
      dtype='object')

In [60]:
teams2023_df.columns

Index(['Team', 'Full Team Name', 'Base', 'Team Chief', 'Technical Chief',
       'Chassis', 'Power Unit', 'First Team Entry', 'World Championships',
       'Highest Race Finish', 'Pole Positions', 'Fastest Laps'],
      dtype='object')

# ------------------------------------------------------------------------------------

4.2. Calendar Modifications

In [61]:
# Emilia Romagna Grand Prix was cancelled 
calendar2023_df = calendar2023_df[calendar2023_df['Circuit Name'] != 'Autodromo Enzo e Dino Ferrari']
calendar2023_df['Circuit Name'].unique()

array(['Bahrain International Circuit', 'Jeddah Corniche Circuit',
       'Melbourne Grand Prix Circuit', 'Baku City Circuit',
       'Miami International Autodrome', 'Circuit de Monaco',
       'Circuit de Barcelona-Catalunya', 'Circuit Gilles-Villeneuve',
       'Red Bull Ring', 'Silverstone Circuit', 'Hungaroring',
       'Circuit de Spa-Francorchamps', 'Circuit Zandvoort',
       'Autodromo Nazionale Monza', 'Marina Bay Street Circuit',
       'Suzuka International Racing Course',
       'Lusail International Circuit', 'Circuit of The Americas',
       'Autodromo Hermanos Rodriguez', 'Autodromo Jose Carlos Pace',
       'Las Vegas Strip Circuit', 'Yas Marina Circuit'], dtype=object)

4.3. Race Results Modifications

In [62]:
race_results2023_df.columns

Index(['Track', 'Position', 'No', 'Driver', 'Team', 'Starting Grid', 'Laps',
       'Time/Retired', 'Points', 'Set Fastest Lap', 'Fastest Lap Time'],
      dtype='object')

In [63]:
# Renaming a column
race_results2023_df.rename(columns={'Starting Grid': 'Race Starting Grid','Laps':'Race Laps', 'Points':'Race Points', 'Position':'Race Position', 'Set Fastest Lap': 'Race Fastest Lap', 'Time/Retired':'Race Time/Retired'}, inplace=True)
race_results2023_df['Track'].unique()

array(['Bahrain', 'Saudi Arabia', 'Australia', 'Azerbaijan', 'Miami',
       'Monaco', 'Spain', 'Canada', 'Austria', 'Great Britain', 'Hungary',
       'Belgium', 'Netherlands', 'Italy', 'Singapore', 'Japan', 'Qatar',
       'United States', 'Mexico', 'Brazil', 'Las Vegas', 'Abu Dhabi'],
      dtype=object)

In [64]:
calendar2023_df['Circuit Name'].unique()

array(['Bahrain International Circuit', 'Jeddah Corniche Circuit',
       'Melbourne Grand Prix Circuit', 'Baku City Circuit',
       'Miami International Autodrome', 'Circuit de Monaco',
       'Circuit de Barcelona-Catalunya', 'Circuit Gilles-Villeneuve',
       'Red Bull Ring', 'Silverstone Circuit', 'Hungaroring',
       'Circuit de Spa-Francorchamps', 'Circuit Zandvoort',
       'Autodromo Nazionale Monza', 'Marina Bay Street Circuit',
       'Suzuka International Racing Course',
       'Lusail International Circuit', 'Circuit of The Americas',
       'Autodromo Hermanos Rodriguez', 'Autodromo Jose Carlos Pace',
       'Las Vegas Strip Circuit', 'Yas Marina Circuit'], dtype=object)

In [65]:
# Mapping dictionary to align track names to full circuit names
track_name_mapping_2023 = {
    'Bahrain': 'Bahrain International Circuit',
    'Saudi Arabia': 'Jeddah Corniche Circuit',
    'Australia': 'Melbourne Grand Prix Circuit',
    'Azerbaijan': 'Baku City Circuit',
    'Miami': 'Miami International Autodrome',
    'Monaco': 'Circuit de Monaco',
    'Spain': 'Circuit de Barcelona-Catalunya',
    'Canada': 'Circuit Gilles-Villeneuve',
    'Austria': 'Red Bull Ring',
    'Great Britain': 'Silverstone Circuit',
    'Hungary': 'Hungaroring',
    'Belgium': 'Circuit de Spa-Francorchamps',
    'Netherlands': 'Circuit Zandvoort',
    'Italy': 'Autodromo Nazionale Monza',
    'Singapore': 'Marina Bay Street Circuit',
    'Japan': 'Suzuka International Racing Course',
    'Qatar': 'Lusail International Circuit',
    'United States': 'Circuit of The Americas',
    'Mexico': 'Autodromo Hermanos Rodriguez',
    'Brazil': 'Autodromo Jose Carlos Pace',
    'Las Vegas': 'Las Vegas Strip Circuit',
    'Abu Dhabi': 'Yas Marina Circuit'
}


# Applying the mapping to ensure consistency in track names
race_results2023_df['Track'] = race_results2023_df['Track'].replace(track_name_mapping_2023)
race_results2023_df['Track'].unique()

array(['Bahrain International Circuit', 'Jeddah Corniche Circuit',
       'Melbourne Grand Prix Circuit', 'Baku City Circuit',
       'Miami International Autodrome', 'Circuit de Monaco',
       'Circuit de Barcelona-Catalunya', 'Circuit Gilles-Villeneuve',
       'Red Bull Ring', 'Silverstone Circuit', 'Hungaroring',
       'Circuit de Spa-Francorchamps', 'Circuit Zandvoort',
       'Autodromo Nazionale Monza', 'Marina Bay Street Circuit',
       'Suzuka International Racing Course',
       'Lusail International Circuit', 'Circuit of The Americas',
       'Autodromo Hermanos Rodriguez', 'Autodromo Jose Carlos Pace',
       'Las Vegas Strip Circuit', 'Yas Marina Circuit'], dtype=object)

In [66]:
# Create country and city mappings with the new tracks

track_to_country_2023 = {
    'Bahrain International Circuit': 'Bahrain',
    'Jeddah Corniche Circuit': 'Saudi Arabia',
    'Melbourne Grand Prix Circuit': 'Australia',
    'Baku City Circuit': 'Azerbaijan',
    'Miami International Autodrome': 'United States',
    'Autodromo Nazionale Monza': 'Italy',
    'Circuit de Monaco': 'Monaco',
    'Circuit de Barcelona-Catalunya': 'Spain',
    'Circuit Gilles-Villeneuve': 'Canada',
    'Red Bull Ring': 'Austria',
    'Silverstone Circuit': 'United Kingdom',
    'Hungaroring': 'Hungary',
    'Circuit de Spa-Francorchamps': 'Belgium',
    'Circuit Zandvoort': 'Netherlands',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Japan',
    'Lusail International Circuit': 'Qatar',
    'Circuit of The Americas': 'United States',
    'Autodromo Hermanos Rodriguez': 'Mexico',
    'Autodromo Jose Carlos Pace': 'Brazil',
    'Las Vegas Strip Circuit': 'United States',
    'Yas Marina Circuit': 'United Arab Emirates'
}

track_to_city_2023 = {
    'Bahrain International Circuit': 'Sakhir',
    'Jeddah Corniche Circuit': 'Jeddah',
    'Melbourne Grand Prix Circuit': 'Melbourne',
    'Baku City Circuit': 'Baku',
    'Miami International Autodrome': 'Miami',
    'Autodromo Nazionale Monza': 'Monza',
    'Circuit de Monaco': 'Monte Carlo',
    'Circuit de Barcelona-Catalunya': 'Barcelona',
    'Circuit Gilles-Villeneuve': 'Montreal',
    'Red Bull Ring': 'Spielberg',
    'Silverstone Circuit': 'Silverstone',
    'Hungaroring': 'Mogyoród',
    'Circuit de Spa-Francorchamps': 'Spa',
    'Circuit Zandvoort': 'Zandvoort',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Suzuka',
    'Lusail International Circuit': 'Lusail',
    'Circuit of The Americas': 'Austin',
    'Autodromo Hermanos Rodriguez': 'Mexico City',
    'Autodromo Jose Carlos Pace': 'São Paulo',
    'Las Vegas Strip Circuit': 'Las Vegas',
    'Yas Marina Circuit': 'Abu Dhabi'
}

# Adding new columns for country and city
race_results2023_df['Country'] = race_results2023_df['Track'].map(track_to_country_2023)
race_results2023_df['City'] = race_results2023_df['Track'].map(track_to_city_2023)

# Display the updated DataFrame to verify the changes
race_results2023_df.rename(columns={'Track': 'Circuit Name'}, inplace=True)

In [67]:
# Add a new column 'Year' with the value 2022 for all rows
race_results2023_df['Year'] = 2023

# Reorder the columns
race_results2023_df = race_results2023_df[['Year', 'Country', 'City', 'Circuit Name',
                                           'Race Position', 'No', 'Driver', 'Team',
                                           'Race Starting Grid', 'Race Laps', 'Race Time/Retired',
                                           'Race Points', 'Race Fastest Lap']]
race_results2023_df.head(1)

,Year,Country,City,Circuit Name,Race Position,No,Driver,Team,Race Starting Grid,Race Laps,Race Time/Retired,Race Points,Race Fastest Lap
0,2023,Bahrain,Sakhir,Bahrain International Circuit,1,1,Max Verstappen,Red Bull Racing Honda RBPT,1,57,1:33:56.736,25,No

In [68]:
# Calculate the key column based on Year, City, and Driver
race_results2023_df['Circuit_Driver'] = race_results2023_df['Year'].astype(str) + '_' + race_results2023_df['City'] + '_' + race_results2023_df['Driver']
race_results2023_df.head(1)

,Year,Country,City,Circuit Name,Race Position,No,Driver,Team,Race Starting Grid,Race Laps,Race Time/Retired,Race Points,Race Fastest Lap,Circuit_Driver
0,2023,Bahrain,Sakhir,Bahrain International Circuit,1,1,Max Verstappen,Red Bull Racing Honda RBPT,1,57,1:33:56.736,25,No,2023_Sakhir_Max Verstappen

# ------------------------------------------------------------------------------------

4.3. Qualifying Results Modifications

In [69]:
qualifying_results2023_df.columns

Index(['Track', 'Position', 'No', 'Driver', 'Team', 'Q1', 'Q2', 'Q3', 'Laps'], dtype='object')

In [70]:
# Renaming a column
qualifying_results2023_df.rename(columns={'Laps':'Qualifying Laps', 'Position': 'Qualifying Position'}, inplace=True)

qualifying_results2023_df['Track'].unique()

array(['Bahrain', 'Saudi Arabia', 'Australia', 'Azerbaijan', 'Miami',
       'Monaco', 'Spain', 'Canada', 'Austria', 'Great Britain', 'Hungary',
       'Belgium', 'Netherlands', 'Italy', 'Singapore', 'Japan', 'Qatar',
       'United States', 'Mexico', 'Brazil', 'Las Vegas', 'Abu Dhabi'],
      dtype=object)

In [71]:
# Mapping dictionary to align track names to full circuit names
track_qualy_mapping_2023 = {
    'Bahrain': 'Bahrain International Circuit',
    'Saudi Arabia': 'Jeddah Corniche Circuit',
    'Australia': 'Melbourne Grand Prix Circuit',
    'Azerbaijan': 'Baku City Circuit',
    'Miami': 'Miami International Autodrome',
    'Monaco': 'Circuit de Monaco',
    'Spain': 'Circuit de Barcelona-Catalunya',
    'Canada': 'Circuit Gilles-Villeneuve',
    'Austria': 'Red Bull Ring',
    'Great Britain': 'Silverstone Circuit',
    'Hungary': 'Hungaroring',
    'Belgium': 'Circuit de Spa-Francorchamps',
    'Netherlands': 'Circuit Zandvoort',
    'Italy': 'Autodromo Nazionale Monza',
    'Singapore': 'Marina Bay Street Circuit',
    'Japan': 'Suzuka International Racing Course',
    'Qatar': 'Lusail International Circuit',
    'United States': 'Circuit of The Americas',
    'Mexico': 'Autodromo Hermanos Rodriguez',
    'Brazil': 'Autodromo Jose Carlos Pace',
    'Las Vegas': 'Las Vegas Strip Circuit',
    'Abu Dhabi': 'Yas Marina Circuit'
}


# Applying the mapping to ensure consistency in track names
qualifying_results2023_df['Track'] = qualifying_results2023_df['Track'].replace(track_qualy_mapping_2023)

In [72]:
# Create country and city mappings with the new tracks

track_qualy_to_country_2023 = {
    'Bahrain International Circuit': 'Bahrain',
    'Jeddah Corniche Circuit': 'Saudi Arabia',
    'Melbourne Grand Prix Circuit': 'Australia',
    'Baku City Circuit': 'Azerbaijan',
    'Miami International Autodrome': 'United States',
    'Autodromo Nazionale Monza': 'Italy',
    'Circuit de Monaco': 'Monaco',
    'Circuit de Barcelona-Catalunya': 'Spain',
    'Circuit Gilles-Villeneuve': 'Canada',
    'Red Bull Ring': 'Austria',
    'Silverstone Circuit': 'United Kingdom',
    'Hungaroring': 'Hungary',
    'Circuit de Spa-Francorchamps': 'Belgium',
    'Circuit Zandvoort': 'Netherlands',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Japan',
    'Lusail International Circuit': 'Qatar',
    'Circuit of The Americas': 'United States',
    'Autodromo Hermanos Rodriguez': 'Mexico',
    'Autodromo Jose Carlos Pace': 'Brazil',
    'Las Vegas Strip Circuit': 'United States',
    'Yas Marina Circuit': 'United Arab Emirates'
}

track_qualy_to_city_2023 = {
    'Bahrain International Circuit': 'Sakhir',
    'Jeddah Corniche Circuit': 'Jeddah',
    'Melbourne Grand Prix Circuit': 'Melbourne',
    'Baku City Circuit': 'Baku',
    'Miami International Autodrome': 'Miami',
    'Autodromo Nazionale Monza': 'Monza',
    'Circuit de Monaco': 'Monte Carlo',
    'Circuit de Barcelona-Catalunya': 'Barcelona',
    'Circuit Gilles-Villeneuve': 'Montreal',
    'Red Bull Ring': 'Spielberg',
    'Silverstone Circuit': 'Silverstone',
    'Hungaroring': 'Mogyoród',
    'Circuit de Spa-Francorchamps': 'Spa',
    'Circuit Zandvoort': 'Zandvoort',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Suzuka',
    'Lusail International Circuit': 'Lusail',
    'Circuit of The Americas': 'Austin',
    'Autodromo Hermanos Rodriguez': 'Mexico City',
    'Autodromo Jose Carlos Pace': 'São Paulo',
    'Las Vegas Strip Circuit': 'Las Vegas',
    'Yas Marina Circuit': 'Abu Dhabi'
}

# Adding new columns for country and city
qualifying_results2023_df['Country'] = qualifying_results2023_df['Track'].map(track_qualy_to_country_2023)
qualifying_results2023_df['City'] = qualifying_results2023_df['Track'].map(track_qualy_to_city_2023)

# Display the updated DataFrame to verify the changes
qualifying_results2023_df.rename(columns={'Track': 'Circuit Name'}, inplace=True)

In [73]:
# Add a new column 'Year' with the value 2022 for all rows
qualifying_results2023_df['Year'] = 2023

# Calculate the key column based on Year, City, and Driver
qualifying_results2023_df['Circuit_Driver'] = qualifying_results2023_df['Year'].astype(str) + '_' + qualifying_results2023_df['City'] + '_' + qualifying_results2023_df['Driver']
qualifying_results2023_df.head(1)

,Circuit Name,Qualifying Position,No,Driver,Team,Q1,Q2,Q3,Qualifying Laps,Country,City,Year,Circuit_Driver
0,Bahrain International Circuit,1,1,Max Verstappen,Red Bull Racing Honda RBPT,1:31.295,1:30.503,1:29.708,15,Bahrain,Sakhir,2023,2023_Sakhir_Max Verstappen

# ------------------------------------------------------------------------------------

4.4. Drivers File Modification

In [74]:
drivers2023_df.head(1)

,Driver,Abbreviation,No,Team,Country,Podiums,Points,Grands Prix Entered,World Championships,Highest Race Finish,Highest Grid Position,Date of Birth,Place of Birth
0,Max Verstappen,VER,1,Red Bull Racing,Netherlands,98,2586.5,185,3,1(x54),1,30/09/1997,"Hasselt, Belgium"

In [75]:
# Splitting the 'Highest Race Finish' column
drivers2023_df[['Highest Race Finish', 'Nº of Highest Race Finish']] = drivers2023_df['Highest Race Finish'].str.extract(r'(\d+)\(x(\d+)\)')
# Convert the new columns to integer type
drivers2023_df['Highest Race Finish'] = drivers2023_df['Highest Race Finish'].astype(int)
drivers2023_df['Nº of Highest Race Finish'] = drivers2023_df['Nº of Highest Race Finish'].astype(int)

drivers2023_df.head(1)

,Driver,Abbreviation,No,Team,Country,Podiums,Points,Grands Prix Entered,World Championships,Highest Race Finish,Highest Grid Position,Date of Birth,Place of Birth,Nº of Highest Race Finish
0,Max Verstappen,VER,1,Red Bull Racing,Netherlands,98,2586.5,185,3,1,1,30/09/1997,"Hasselt, Belgium",54

# ------------------------------------------------------------------------------------

4.5. Teams File Modification

In [76]:
teams2023_df.head(1)

,Team,Full Team Name,Base,Team Chief,Technical Chief,Chassis,Power Unit,First Team Entry,World Championships,Highest Race Finish,Pole Positions,Fastest Laps
0,Red Bull Racing,Oracle Red Bull Racing,"Milton Keynes, United Kingdom",Christain Horner,Pierre Waché,RB19,Honda RBPT,1997,6,1(x113),95,95

In [77]:
teams2023_df.columns

Index(['Team', 'Full Team Name', 'Base', 'Team Chief', 'Technical Chief',
       'Chassis', 'Power Unit', 'First Team Entry', 'World Championships',
       'Highest Race Finish', 'Pole Positions', 'Fastest Laps'],
      dtype='object')

In [78]:
teams2023_df['Team'].unique()

array(['Red Bull Racing', 'Mercedes', 'Ferrari', 'McLaren',
       'Aston Martin', 'Alpine', 'Williams', 'AlphaTauri', 'Alfa Romeo',
       'Haas F1 Team'], dtype=object)

In [79]:
# Example dictionary mapping original team names to desired names
team_name_mapping_2023 = {
    'Red Bull Racing': 'Red Bull Racing RBPT',
    'Ferrari': 'Ferrari',
    'Mercedes': 'Mercedes',
    'Alpine': 'Alpine Renault',
    'McLaren': 'McLaren Mercedes',
    'Alfa Romeo': 'Alfa Romeo Ferrari',
    'Aston Martin': 'Aston Martin Aramco Mercedes',
    'Haas F1 Team': 'Haas Ferrari',
    'AlphaTauri': 'AlphaTauri RBPT',
    'Williams': 'Williams Mercedes'
}

# Apply the mapping to create a new 'Team Name' column
teams2023_df['Team'] = teams2023_df['Team'].map(team_name_mapping_2023)
teams2023_df.head(1)

,Team,Full Team Name,Base,Team Chief,Technical Chief,Chassis,Power Unit,First Team Entry,World Championships,Highest Race Finish,Pole Positions,Fastest Laps
0,Red Bull Racing RBPT,Oracle Red Bull Racing,"Milton Keynes, United Kingdom",Christain Horner,Pierre Waché,RB19,Honda RBPT,1997,6,1(x113),95,95

In [80]:
# Dropping the specified columns
columns_to_drop = ['Full Team Name', 'Base', 'Team Chief', 'Technical Chief','Chassis','Power Unit']
teams2023_df = teams2023_df.drop(columns=columns_to_drop)

# Splitting the 'Highest Race Finish' column
teams2023_df[['Highest Race Finish', 'Nº of Highest Race Finish']] = teams2023_df['Highest Race Finish'].str.extract(r'(\d+)\(x(\d+)\)')
# Convert the new columns to integer type
teams2023_df['Highest Race Finish'] = teams2023_df['Highest Race Finish'].astype(int)
teams2023_df['Nº of Highest Race Finish'] = teams2023_df['Nº of Highest Race Finish'].astype(int)

teams2023_df.head(1)

,Team,First Team Entry,World Championships,Highest Race Finish,Pole Positions,Fastest Laps,Nº of Highest Race Finish
0,Red Bull Racing RBPT,1997,6,1,95,95,113

In [81]:
# Dictionary mapping old names to new names
new_column_names_2023 = {
    'First Team Entry': 'Team First Entry',
    'World Championships': 'Team Nº World Championships',
    'Highest Race Finish': 'Team Highest Race Finish',
    'Pole Positions': 'Team Nº Pole Positions',
    'Fastest Laps': 'Team Nº Fastest Laps',
    'Nº of Highest Race Finish': 'Team Nº of Highest Race Finish', 'Team':'Team Name'
}

# Rename the columns using rename() method
teams2023_df = teams2023_df.rename(columns=new_column_names_2023)
teams2023_df.head(1)

,Team Name,Team First Entry,Team Nº World Championships,Team Highest Race Finish,Team Nº Pole Positions,Team Nº Fastest Laps,Team Nº of Highest Race Finish
0,Red Bull Racing RBPT,1997,6,1,95,95,113

In [82]:
teams2023_df['Team Name'].unique()

array(['Red Bull Racing RBPT', 'Mercedes', 'Ferrari', 'McLaren Mercedes',
       'Aston Martin Aramco Mercedes', 'Alpine Renault',
       'Williams Mercedes', 'AlphaTauri RBPT', 'Alfa Romeo Ferrari',
       'Haas Ferrari'], dtype=object)

In [83]:
race_results2023_df['Team'].unique()

array(['Red Bull Racing Honda RBPT', 'Aston Martin Aramco Mercedes',
       'Ferrari', 'Mercedes', 'Alfa Romeo Ferrari', 'Alpine Renault',
       'Williams Mercedes', 'AlphaTauri Honda RBPT', 'Haas Ferrari',
       'McLaren Mercedes'], dtype=object)

In [84]:
# Mapping dictionary
team_mapping = {
    'Red Bull Racing RBPT': 'Red Bull Racing Honda RBPT',
    'Mercedes': 'Aston Martin Aramco Mercedes',
    'Ferrari': 'Ferrari',
    'McLaren Mercedes': 'McLaren Mercedes',
    'Aston Martin Aramco Mercedes': 'Aston Martin Aramco Mercedes',
    'Alpine Renault': 'Alpine Renault',
    'Williams Mercedes': 'Williams Mercedes',
    'AlphaTauri RBPT': 'AlphaTauri Honda RBPT',
    'Alfa Romeo Ferrari': 'Alfa Romeo Ferrari',
    'Haas Ferrari': 'Haas Ferrari'
}

# Applying the mapping to ensure consistency in track names
teams2023_df['Team Name'] = teams2023_df['Team Name'].replace(team_mapping)

In [85]:
teams2023_df.shape

(10, 7)

# ------------------------------------------------------------------------------------

4.6.F1 Insights Pro Ranking Modifications

In [86]:
F1_Insights_Pro_ranking_2023_df.columns

Index(['Driver', 'Team', 'Track', 'TrackTurns', 'TrackDRSZones',
       'ElevationChange', 'AvgTrackTemp', 'AvgAirTemp', 'AvgHumidity',
       'AvgWindSpeed', 'RainProbability', 'StartPosition', 'FinishPosition',
       'PointsScored', 'FastestLapFlag', 'OverallFastestLap', 'FastestLapTime',
       'FastestLapGap', 'FastestLapSpeed', 'Overtakes', 'TotalOvertakes',
       'Penalties', 'TotalPenalties', 'TrackComplexity', 'WeatherConditions',
       'PenaltyScore', 'DriverPerformanceScore', 'Score', 'Rank'],
      dtype='object')

In [87]:
F1_Insights_Pro_ranking_2023_df.shape

(460, 29)

In [88]:
F1_Insights_Pro_ranking_2023_df['Track'].unique()

array(['Bahrain', 'Saudi Arabia', 'Australia', 'Azerbaijan', 'Miami',
       'Emilia Romagna', 'Monaco', 'Spain', 'Canada', 'Austria',
       'Great Britain', 'Hungary', 'Belgium', 'Netherlands', 'Italy',
       'Singapore', 'Japan', 'Qatar', 'United States', 'Mexico', 'Brazil',
       'Las Vegas', 'Abu Dhabi'], dtype=object)

In [89]:
calendar2023_df['Circuit Name'].unique()

array(['Bahrain International Circuit', 'Jeddah Corniche Circuit',
       'Melbourne Grand Prix Circuit', 'Baku City Circuit',
       'Miami International Autodrome', 'Circuit de Monaco',
       'Circuit de Barcelona-Catalunya', 'Circuit Gilles-Villeneuve',
       'Red Bull Ring', 'Silverstone Circuit', 'Hungaroring',
       'Circuit de Spa-Francorchamps', 'Circuit Zandvoort',
       'Autodromo Nazionale Monza', 'Marina Bay Street Circuit',
       'Suzuka International Racing Course',
       'Lusail International Circuit', 'Circuit of The Americas',
       'Autodromo Hermanos Rodriguez', 'Autodromo Jose Carlos Pace',
       'Las Vegas Strip Circuit', 'Yas Marina Circuit'], dtype=object)

In [90]:
track_qualy_mapping_F1_Insights_Pro = {
    'Bahrain': 'Bahrain International Circuit',
    'Saudi Arabia': 'Jeddah Corniche Circuit',
    'Australia': 'Melbourne Grand Prix Circuit',
    'Emilia Romagna': 'Autodromo Enzo e Dino Ferrari',
    'Miami': 'Miami International Autodrome',
    'Spain': 'Circuit de Barcelona-Catalunya',
    'Monaco': 'Circuit de Monaco',
    'Azerbaijan': 'Baku City Circuit',
    'Canada': 'Circuit Gilles-Villeneuve',
    'Great Britain': 'Silverstone Circuit',
    'Austria': 'Red Bull Ring',
    'France': 'Circuit Paul Ricard',
    'Hungary': 'Hungaroring',
    'Belgium': 'Circuit de Spa-Francorchamps',
    'Netherlands': 'Circuit Zandvoort',
    'Italy': 'Autodromo Nazionale Monza',
    'Singapore': 'Marina Bay Street Circuit',
    'Japan': 'Suzuka International Racing Course',
    'United States': 'Circuit of The Americas',
    'Mexico': 'Autodromo Hermanos Rodriguez',
    'Brazil': 'Autodromo Jose Carlos Pace',
    'Abu Dhabi': 'Yas Marina Circuit',
    'Qatar': 'Lusail International Circuit',
    'Las Vegas': 'Las Vegas Strip Circuit'
}

# Applying the mapping to ensure consistency in track names
F1_Insights_Pro_ranking_2023_df['Track'] = F1_Insights_Pro_ranking_2023_df['Track'].replace(track_qualy_mapping_F1_Insights_Pro)
F1_Insights_Pro_ranking_2023_df['Track'].unique()

array(['Bahrain International Circuit', 'Jeddah Corniche Circuit',
       'Melbourne Grand Prix Circuit', 'Baku City Circuit',
       'Miami International Autodrome', 'Autodromo Enzo e Dino Ferrari',
       'Circuit de Monaco', 'Circuit de Barcelona-Catalunya',
       'Circuit Gilles-Villeneuve', 'Red Bull Ring',
       'Silverstone Circuit', 'Hungaroring',
       'Circuit de Spa-Francorchamps', 'Circuit Zandvoort',
       'Autodromo Nazionale Monza', 'Marina Bay Street Circuit',
       'Suzuka International Racing Course',
       'Lusail International Circuit', 'Circuit of The Americas',
       'Autodromo Hermanos Rodriguez', 'Autodromo Jose Carlos Pace',
       'Las Vegas Strip Circuit', 'Yas Marina Circuit'], dtype=object)

In [91]:
# Updated dictionaries
track_to_country = {
    'Bahrain International Circuit': 'Bahrain',
    'Jeddah Corniche Circuit': 'Saudi Arabia',
    'Albert Park Circuit': 'Australia',
    'Autodromo Enzo e Dino Ferrari': 'Italy',
    'Miami International Autodrome': 'United States',
    'Circuit de Barcelona-Catalunya': 'Spain',
    'Circuit de Monaco': 'Monaco',
    'Baku City Circuit': 'Azerbaijan',
    'Circuit Gilles-Villeneuve': 'Canada',
    'Silverstone Circuit': 'United Kingdom',
    'Red Bull Ring': 'Austria',
    'Circuit Paul Ricard': 'France',
    'Hungaroring': 'Hungary',
    'Circuit de Spa-Francorchamps': 'Belgium',
    'Circuit Zandvoort': 'Netherlands',
    'Autodromo Nazionale Monza': 'Italy',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Japan',
    'Circuit of the Americas': 'United States',
    'Autodromo Hermanos Rodriguez': 'Mexico',
    'Autodromo Jose Carlos Pace': 'Brazil',
    'Yas Marina Circuit': 'United Arab Emirates',
    'Lusail International Circuit': 'Qatar',  # Added new track
    'Las Vegas Strip Circuit': 'United States'  # Added new track
}

track_to_city = {
    'Bahrain International Circuit': 'Sakhir',
    'Jeddah Corniche Circuit': 'Jeddah',
    'Albert Park Circuit': 'Melbourne',
    'Autodromo Enzo e Dino Ferrari': 'Imola',
    'Miami International Autodrome': 'Miami',
    'Circuit de Barcelona-Catalunya': 'Barcelona',
    'Circuit de Monaco': 'Monte Carlo',
    'Baku City Circuit': 'Baku',
    'Circuit Gilles-Villeneuve': 'Montreal',
    'Silverstone Circuit': 'Silverstone',
    'Red Bull Ring': 'Spielberg',
    'Circuit Paul Ricard': 'Le Castellet',
    'Hungaroring': 'Mogyoród',
    'Circuit de Spa-Francorchamps': 'Stavelot',
    'Circuit Zandvoort': 'Zandvoort',
    'Autodromo Nazionale Monza': 'Monza',
    'Marina Bay Street Circuit': 'Singapore',
    'Suzuka International Racing Course': 'Suzuka',
    'Circuit of the Americas': 'Austin',
    'Autodromo Hermanos Rodriguez': 'Mexico City',
    'Autodromo Jose Carlos Pace': 'São Paulo',
    'Yas Marina Circuit': 'Abu Dhabi',
    'Lusail International Circuit': 'Lusail',  # Added new track
    'Las Vegas Strip Circuit': 'Las Vegas'  # Added new track
}

# Applying the updated mappings to DataFrame
F1_Insights_Pro_ranking_2023_df['Country'] = F1_Insights_Pro_ranking_2023_df['Track'].map(track_to_country)
F1_Insights_Pro_ranking_2023_df['City'] = F1_Insights_Pro_ranking_2023_df['Track'].map(track_to_city)

# Renaming the 'Track' column to 'Circuit Name'
F1_Insights_Pro_ranking_2023_df.rename(columns={'Track': 'Circuit Name'}, inplace=True)

In [92]:
# Add a new column 'Year' with the value 2022 for all rows
F1_Insights_Pro_ranking_2023_df['Year'] = 2022

# Calculate the key column based on Year, City, and Driver
F1_Insights_Pro_ranking_2023_df['Circuit_Driver'] = F1_Insights_Pro_ranking_2023_df['Year'].astype(str) + '_' + F1_Insights_Pro_ranking_2023_df['City'] + '_' + F1_Insights_Pro_ranking_2023_df['Driver']
F1_Insights_Pro_ranking_2023_df.head(1)

,Driver,Team,Circuit Name,TrackTurns,TrackDRSZones,ElevationChange,AvgTrackTemp,AvgAirTemp,AvgHumidity,AvgWindSpeed,...,TrackComplexity,WeatherConditions,PenaltyScore,DriverPerformanceScore,Score,Rank,Country,City,Year,Circuit_Driver
0,Max Verstappen,Red Bull Racing,Bahrain International Circuit,15,3,3.5,31.011801,27.431677,21.496894,0.68323,...,0.065,0.032653,0,9.213433,9.311086,1,Bahrain,Sakhir,2022,2022_Sakhir_Max Verstappen

# ------------------------------------------------------------------------------------

# 5. 2023 Merging Datasets

5.1. Merging Race Results File + Qualifying Results File

In [93]:
# Merging the dataframes on 'Circuit_Driver'

race_and_qualy_2023_df = pd.merge(race_results2023_df, qualifying_results2023_df, on='Circuit_Driver')
race_and_qualy_2023_df.columns

Index(['Year_x', 'Country_x', 'City_x', 'Circuit Name_x', 'Race Position',
       'No_x', 'Driver_x', 'Team_x', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Circuit Name_y', 'Qualifying Position', 'No_y',
       'Driver_y', 'Team_y', 'Q1', 'Q2', 'Q3', 'Qualifying Laps', 'Country_y',
       'City_y', 'Year_y'],
      dtype='object')

In [94]:
# Dropping the specified columns
columns_to_drop = ['Country_y', 'City_y', 'Year_y', 'Team_y', 'Driver_y', 'No_y','Circuit Name_y']
race_and_qualy_2023_df = race_and_qualy_2023_df.drop(columns=columns_to_drop)
race_and_qualy_2023_df.shape

(440, 19)

In [95]:
# Renaming columns to remove '_x' suffix
race_and_qualy_2023_df.rename(columns={
    'Year_x': 'Year',
    'Country_x': 'Country',
    'City_x': 'City',
    'Circuit Name_x': 'Circuit Name',
    'Race Position': 'Race Position',
    'No_x': 'No',
    'Driver_x': 'Driver',
    'Team_x': 'Team'
}, inplace=True)

race_and_qualy_2023_df.columns

Index(['Year', 'Country', 'City', 'Circuit Name', 'Race Position', 'No',
       'Driver', 'Team', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Qualifying Position', 'Q1', 'Q2', 'Q3',
       'Qualifying Laps'],
      dtype='object')

# ------------------------------------------------------------------------------------

5.2. Merging Existing File + Drivers File

In [96]:
# Merging the dataframes on 'Circuit_Driver'
race_and_qualy_and_drivers_2023_df = pd.merge(race_and_qualy_2023_df, drivers2023_df, on='Driver')
race_and_qualy_and_drivers_2023_df.head(1)

,Year,Country_x,City,Circuit Name,Race Position,No_x,Driver,Team_x,Race Starting Grid,Race Laps,...,Country_y,Podiums,Points,Grands Prix Entered,World Championships,Highest Race Finish,Highest Grid Position,Date of Birth,Place of Birth,Nº of Highest Race Finish
0,2023,Bahrain,Sakhir,Bahrain International Circuit,1,1,Max Verstappen,Red Bull Racing Honda RBPT,1,57,...,Netherlands,98,2586.5,185,3,1,1,30/09/1997,"Hasselt, Belgium",54

In [97]:
race_and_qualy_and_drivers_2023_df.shape

(440, 32)

In [98]:
# Dropping the specified columns
columns_to_drop = ['Country_y', 'Team_y', 'No_y']
race_and_qualy_and_drivers_2023_df = race_and_qualy_and_drivers_2023_df.drop(columns=columns_to_drop)
race_and_qualy_and_drivers_2023_df.shape

(440, 29)

In [99]:
# Renaming columns to match Set 1
race_and_qualy_and_drivers_2023_df.rename(columns={
    'Country_x': 'Country',
    'No_x': 'No',
    'Team_x': 'Team'
}, inplace=True)
race_and_qualy_and_drivers_2023_df.columns

Index(['Year', 'Country', 'City', 'Circuit Name', 'Race Position', 'No',
       'Driver', 'Team', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Qualifying Position', 'Q1', 'Q2', 'Q3',
       'Qualifying Laps', 'Abbreviation', 'Podiums', 'Points',
       'Grands Prix Entered', 'World Championships', 'Highest Race Finish',
       'Highest Grid Position', 'Date of Birth', 'Place of Birth',
       'Nº of Highest Race Finish'],
      dtype='object')

# ------------------------------------------------------------------------------------

5.3. Merging Existing File + Team File

In [100]:
teams2023_df.shape

(10, 7)

In [101]:
race_and_qualy_and_drivers_2023_df.shape

(440, 29)

In [102]:
race_and_qualy_and_drivers_and_teams_2023_df = pd.merge(teams2023_df, race_and_qualy_and_drivers_2023_df, left_on='Team Name', right_on='Team')
race_and_qualy_and_drivers_and_teams_2023_df.drop('Team Name', axis=1, inplace=True)
race_and_qualy_and_drivers_and_teams_2023_df.shape

(440, 35)

# ------------------------------------------------------------------------------------

5.4. Merging Existing File + F1 Insights Pro

In [103]:
# Merging the dataframes on 'Circuit_Driver'
race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df = pd.merge(race_and_qualy_and_drivers_and_teams_2023_df, F1_Insights_Pro_ranking_2023_df, on='Circuit_Driver', how='left')

In [104]:
race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df.shape

(440, 67)

In [105]:
race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df.columns

Index(['Team First Entry', 'Team Nº World Championships',
       'Team Highest Race Finish', 'Team Nº Pole Positions',
       'Team Nº Fastest Laps', 'Team Nº of Highest Race Finish', 'Year_x',
       'Country_x', 'City_x', 'Circuit Name_x', 'Race Position', 'No',
       'Driver_x', 'Team_x', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Qualifying Position', 'Q1', 'Q2', 'Q3',
       'Qualifying Laps', 'Abbreviation', 'Podiums', 'Points',
       'Grands Prix Entered', 'World Championships', 'Highest Race Finish',
       'Highest Grid Position', 'Date of Birth', 'Place of Birth',
       'Nº of Highest Race Finish', 'Driver_y', 'Team_y', 'Circuit Name_y',
       'TrackTurns', 'TrackDRSZones', 'ElevationChange', 'AvgTrackTemp',
       'AvgAirTemp', 'AvgHumidity', 'AvgWindSpeed', 'RainProbability',
       'StartPosition', 'FinishPosition', 'PointsScored', 'FastestLapFlag',
       'OverallFastestLap', 'FastestLapTime', 'FastestLapGap',
       'FastestLapSpeed', 'Overtakes', 'TotalOvertakes', 'Penalties',
       'TotalPenalties', 'TrackComplexity', 'WeatherConditions',
       'PenaltyScore', 'DriverPerformanceScore', 'Score', 'Rank', 'Country_y',
       'City_y', 'Year_y'],
      dtype='object')

In [106]:
# Dropping the specified columns
columns_to_drop = ['Country_y', 'City_y', 'Year_y', 'Team_y', 'Driver_y','Circuit Name_y']
race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df = race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df.drop(columns=columns_to_drop)
race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df.columns

Index(['Team First Entry', 'Team Nº World Championships',
       'Team Highest Race Finish', 'Team Nº Pole Positions',
       'Team Nº Fastest Laps', 'Team Nº of Highest Race Finish', 'Year_x',
       'Country_x', 'City_x', 'Circuit Name_x', 'Race Position', 'No',
       'Driver_x', 'Team_x', 'Race Starting Grid', 'Race Laps',
       'Race Time/Retired', 'Race Points', 'Race Fastest Lap',
       'Circuit_Driver', 'Qualifying Position', 'Q1', 'Q2', 'Q3',
       'Qualifying Laps', 'Abbreviation', 'Podiums', 'Points',
       'Grands Prix Entered', 'World Championships', 'Highest Race Finish',
       'Highest Grid Position', 'Date of Birth', 'Place of Birth',
       'Nº of Highest Race Finish', 'TrackTurns', 'TrackDRSZones',
       'ElevationChange', 'AvgTrackTemp', 'AvgAirTemp', 'AvgHumidity',
       'AvgWindSpeed', 'RainProbability', 'StartPosition', 'FinishPosition',
       'PointsScored', 'FastestLapFlag', 'OverallFastestLap', 'FastestLapTime',
       'FastestLapGap', 'FastestLapSpeed', 'Overtakes', 'TotalOvertakes',
       'Penalties', 'TotalPenalties', 'TrackComplexity', 'WeatherConditions',
       'PenaltyScore', 'DriverPerformanceScore', 'Score', 'Rank'],
      dtype='object')

In [107]:
# Renaming columns to match Set 1
race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df.rename(columns={
    'Country_x': 'Country',
    'Year_x':'Year',
    'City_x':'City',
    'Circuit Name_x':'Circuit Name',
    'Driver_x':'Driver',
    'Team_x': 'Team'
}, inplace=True)
race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df.columns

Index(['Team First Entry', 'Team Nº World Championships',
       'Team Highest Race Finish', 'Team Nº Pole Positions',
       'Team Nº Fastest Laps', 'Team Nº of Highest Race Finish', 'Year',
       'Country', 'City', 'Circuit Name', 'Race Position', 'No', 'Driver',
       'Team', 'Race Starting Grid', 'Race Laps', 'Race Time/Retired',
       'Race Points', 'Race Fastest Lap', 'Circuit_Driver',
       'Qualifying Position', 'Q1', 'Q2', 'Q3', 'Qualifying Laps',
       'Abbreviation', 'Podiums', 'Points', 'Grands Prix Entered',
       'World Championships', 'Highest Race Finish', 'Highest Grid Position',
       'Date of Birth', 'Place of Birth', 'Nº of Highest Race Finish',
       'TrackTurns', 'TrackDRSZones', 'ElevationChange', 'AvgTrackTemp',
       'AvgAirTemp', 'AvgHumidity', 'AvgWindSpeed', 'RainProbability',
       'StartPosition', 'FinishPosition', 'PointsScored', 'FastestLapFlag',
       'OverallFastestLap', 'FastestLapTime', 'FastestLapGap',
       'FastestLapSpeed', 'Overtakes', 'TotalOvertakes', 'Penalties',
       'TotalPenalties', 'TrackComplexity', 'WeatherConditions',
       'PenaltyScore', 'DriverPerformanceScore', 'Score', 'Rank'],
      dtype='object')

In [108]:
race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df.shape

(440, 61)

# ------------------------------------------------------------------------------------

# 6. Joining 2022 and 2023 File Datasets

In [109]:
race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df.shape

(440, 61)

In [110]:
race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df.shape

(440, 61)

In [111]:
# Concatenate both DataFrames vertically
F1_Insights_Pro_Final_dataset_df = pd.concat([race_and_qualy_and_drivers_and_teams_and_F1_Insights_Pro_2022_df, 
                         race_and_qualy_and_drivers_and_teams_and_F1_Insigths_Pro_2023_df], ignore_index=True)

In [112]:
F1_Insights_Pro_Final_dataset_df.shape

(880, 61)

In [113]:
#Exporting the final dataset to a csv file 
F1_Insights_Pro_Final_dataset_df.to_csv('F1_Insights_Pro_Final_dataset.csv', index = False)